*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
    font-family: sans-serif;
}
body{
    background-color: lightgray;
}
html{
    scroll-behavior: smooth;
}
.container{
    width: 1441px;
    height: 3380px;
    background-color: white;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
    padding-top: 34px;
    margin-bottom: 20px;
    position: relative;
}
header{
    text-align: center;
}
/* header tugadi */
nav{
    display: flex;
    justify-content: center;
    gap: 30px;
    margin-top: 48px;
}
nav ul{
    display: flex;
    /* align-items: center; */
    list-style-type: none;
    gap: 30px;
}
nav a{
    text-decoration: none;
    color: #957554;
    font-size: 24px;
}
nav a:hover{
    color: #DFAA5B;
    font-size: 25px;
}

/* navbar yugadi */

main{
    background-color: black;
    width: 1441px;
    margin-left: auto;
    margin-right: auto;
    padding-top: 27px;
    padding-bottom: 32px;
    display: flex;
    justify-content: center;
    margin-top: 30px;

}
main select{
    width: 192px;
    height: 60px;
    border: none;
    border-radius: 4px;
}
.form{
    display: flex;
    gap: 13px;
    justify-content: center;
    height: 60px;
    border-radius: 4px;
}
main input{
     width: 192px;
    height: 60px;
    border-radius: 4px;
    border: none;
}
main button{
    width: 202px;
    height: 60px;
    background-color: #DFAA5B;
    color: white;
    border: none;
    border-radius: 4px;
}
/*  */
.bacimg1{
    width: 1441px;
    height: 790px;
    background-image: url(./bacimg2.png);
    background-repeat: no-repeat;
    background-size: cover;
    text-align: center;
    padding-top: 323px;
    position: relative;
    z-index: -2px;
}
.button{
    width: 371px;
    height: 76px;
    background-color: #DFAA5B;
    color: #FFFFFF;
    font-size: 24px;
    text-align: center;
    border: none;
    border-radius: 4px;
}
.to{
    font-size: 80px;
    color: #FFFFFF;
}
.Good{
    font-size: 24px;
    color: #FFFFFF;
}
.ikonkalar{
    width: 1319px;
    height: 350px;
    position: absolute;
    margin-left: 45px;
    border-radius: 10px;
    bottom: -180px;
    background-color: whitesmoke;
}
.ikonkalar2{
    display: flex;
    justify-content: center;
    gap: 152px;
    margin-top: 45px;
}
.Facilities{
    font-size: 45px;
    color: #957554;
    margin-top: 48px;
}
/*  */

.standard{
    width: 630px;
    height: 500px;
    background-image: url("./standard.png");
    background-repeat: no-repeat;
    background-size: cover;
    padding-top: 287px;
    margin-top: 53px;
    margin-left: 60px;
    text-align: center;
}
section button{
    width: 244px;
    height: 76px;
    background-color: #DFAA5B;
    color: white;
    border: none;
    border-radius: 5px;
    margin-top: 19px;
}
.standard2{
    font-size: 40px;
    color: #FFFFFF;
}
.Rooms{
    margin-top: 200px;
    text-align: center;
    font-size: 45px;
    color: #957554;
}
.orovchi{
    display: flex;
    flex-wrap: wrap;
    gap: 60px;
}
.standard1{
    width: 630px;
    height: 500px;
    background-image: url("./standard2.png");
    background-repeat: no-repeat;
    background-size: cover;
    padding-top: 287px;
    margin-top: 53px;
    margin-right: 60px;
    text-align: center;
}
.standard3{
    width: 630px;
    height: 500px;
    background-image: url("./standard3.png");
    background-repeat: no-repeat;
    background-size: cover;
    padding-top: 287px;
    margin-left: 60px;
    text-align: center;
}
.standard4{
    width: 630px;
    height: 500px;
    background-image: url("./standard4.png");
    background-repeat: no-repeat;
    background-size: cover;
    padding-top: 287px;
    margin-right: 60px;
    text-align: center;
}
/*  */

.get{
    margin-top: 53px;
    padding: 61px 0 50px 0;
    text-align: center;
    width: 1319px;
    height: 277px;
    background-color: aqua;
    margin-left: auto;
    margin-right: auto;

}
.rooom{
    font-size: 45px;
    color: #957554;
    margin-bottom: 38px;

}
.book{
    width: 418px;
    height: 76px;
    background-color: #DFAA5B;
    font-size: 24px;
    color: white;
    border: none;
    border-radius: 5px;
}
footer{
    width: 1440px;
    height: 469px;
    background-color: black;
    padding-top: 61px;
    margin-top: 62px;
    display: flex;
    gap: 232px;

}
footer h4{
    font-size: 24px;
    color: white;
    margin-top: 68px;
}
.our{
    font-size: 24px;
    color: white;
    opacity: 70%;
}
footer div:nth-child(1){
    margin-top: 61px;
    margin-left: 55px;
}
.hotels{
    margin-top: 61px;
    gap: 30px;
}
.our1{
    font-size: 24px;
    opacity: 50%;
    color: #FFFFFF;
    margin-bottom: 30px;
}
.int{
    display: flex;
    width: 371px;
    height: 75px;
    padding: 15px;
    border-radius: 10px;
    margin-top: 20px;
    font-size: 24px;

}
footer h2{
    font-size: 30px;
    color: #FFFFFF;
    margin-top: 51px;
}
footer button{
    width: 371px;
    height: 75px;
    background-color: #DFAA5B;
    border: none;
    margin-top: 24px;
    border-radius: 10px;
    color: #FFFFFF;
    font-size: 24px;
}
.tepaga{
    width: 150px;
    height: 76px;
    border-radius: 40px;
    background-color:#FFFFFF;
    font-size: 30px;
    position: fixed;
    right: -20px;
    bottom: 200px;
    z-index: 3;
}